<div class="books-show">
	<h2><%= @book.name.titleize %></h2>
	<div class="books-show-left">
		<%= image_tag (@book.image) %>
	</div>
	<div class="books-show-right">
		<h3>Book Info:</h3>
		<ul>
			<li><strong>Title</strong> <%= @book.name.titleize %></li>
			<li><strong>Author</strong> <%= @book.try(:authors).try(:last).try(:first_name) %></li>
			<li><strong>ISBN</strong> <%= @book.isbn %></li>
			<li><strong>Year</strong> <%= @book.published_date %></li>
		</ul>
	</div>
	<div class="clearfix">
	</div>
	<h4>
		Description
	</h4>
	<p><%= @book.description %></p>
	<h3>Admin Functionality</h3>
	<%= link_to "Edit", edit_book_path(@book.id) %> | <%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure?"} %> 
</div>
