<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title.present? ? @page_title : "Welcome" %> | BookStore</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-default fixed-top" style="font-size: 24px;">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= params[:controller] == "books" ? 'active' : '' %>">
            <a class="nav-link" href="<%= books_path %>">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item <%= params[:controller] == "author" ? 'active' : '' %>">
            <a class="nav-link" href="<%= authors_path %>">Author</a>
          </li>
          <li class="nav-item <%= params[:controller] == "about" ? 'active' : '' %>">
            <a class="nav-link" href="<%= about_index_path %>">About Us</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add New</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="<%= new_book_path %>">Book</a>
              <a class="dropdown-item" href="<%= new_author_path %>">Author</a>
            </div>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
    <header>
    	<div class= "container">
    		<h1> The BookStore  <small><%= @page_title.present? ? @page_title : "Welcome" %></small></h1>
    	</div>
    </header>

    <section>
    	<div class= "container">
    			<div class= "row">
    				<div class="col-md-8">
							<%= yield %>
						</div>
						<div class="col-md-4">
						</div>
			</div>
		</section>

		<footer>
			<div class="container">
				 <p>Posted by: Hege Refsnes</p>
  <p>Contact information: <a href="mailto:someone@example.com">
  someone@example.com</a>.</p>
			</div>
		</footer>

</body>
</html>
